*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.div-1{
    background-color: black;
    width: 100%;
    height: 570px;
    display: flex;
}

.img-1{
    height: 450px;
    margin-left: 180px;
    margin-top: 70px;
}

.img-2{
    height: 70px;
    margin-top: 80px;
    margin-left: 140px;
}

.input-1{
  margin-right: 80px;
  margin-left: 120px;
  height: 6vh;
  width: 21vw;
  background-color: rgb(48, 46, 46);
  border-radius: 5px;
  border: none;outline-color: rgb(113, 113, 113);
  margin-top: 25px;
  outline-style: groove;
  color: white;
  padding-left: 5px;
}

::placeholder{
    padding-left: 10px;
    font-size: 12px;
    color: rgb(177, 177, 177);
    padding-left: 7px;
}

.input-2{
    margin-right: 80px;
    margin-left: 120px;
    height: 6vh;
    width: 21vw;
    background-color: rgb(48, 46, 46);
    border-radius: 5px;
    border: none;outline-color: rgb(113, 113, 113);
    margin-top: 9px;
    outline-style: groove;
    color: white;
    padding-left: 5px;
}

::placeholder{
    padding-left: 10px;
    font-size: 12px;
    color: rgb(177, 177, 177);
    padding-left: 7px;
}

.button-1{
    margin-right: 80px;
    margin-left: 120px;
    height: 5vh;
    width: 21vw;
    background-color: rgb(76, 76, 248);
    border-radius: 5px;
    margin-top: 12px;
    outline-style: none;
    padding-left: 5px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    color: white;
}

.div-2{
    width: 8%;
    height: 0.5px;
    background-color: rgba(48, 47, 47, 0.8);
    margin-top: 27px;
    margin-left: 125px;
    position: absolute;
}

.para-1{
    color: rgb(170, 170, 170);
    font-size: 13px;
    margin-bottom: 40px;
    position: relative;
    margin-left: 240px;
    margin-top: 19px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
}

.div-3{
    width: 8.5%;
    height: 0.5px;
    background-color: rgba(48, 47, 47, 0.8);
    position: absolute;
    margin-bottom: 200px;
    margin-top: 27px;
    margin-left: 280px;
}

.img-3{
    width: 35px;
    margin-left: 170px;
    margin-top: 25px;
    position: relative;
    margin-bottom: 0px;
}

.para-2{
    color: #53A6FD;
    font-family: Helvetica, Arial, sans-serif;
    position: absolute;
    margin-top: 35px;
    margin-left: 205px;
    font-size: 14px;
}

.para-3{
    color: white;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 210px;
    margin-top: 14px;
    cursor: pointer;
    text-decoration-line: underline;
}

.para-4{
    font-size: 14.5px;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    margin-top: 65px;
    margin-left: 170px;

}

.span-1{
    color:#53A6FD;
    cursor: pointer;
}

.div-4{
    display: flex;
    background: black;
    width: 100%;
    height: 500px;
}

.para-5{
    color: white;
    font-size: 20px;
}
